.about-company {
    background-image: url('../images/scheme-up.png'), url('../images/scheme-down.png');
    background-repeat: no-repeat;
    background-size: 590px 445px;
    background-position: right 0, bottom 0 left 0;
}


.about-company .container {
    
    padding-top: 140px;
    padding-bottom: 147px;
}

.about-company__heading {
    margin: 0;
    margin-bottom: 67px;
    font-family: "Arial";
    font-weight: 800;
    font-size: 36px;
    line-height: 48px;
    color: #2B2A28;
}

.about-company__image {
    position: relative;
}

.about-company__image2 {
    position: absolute;
    right: 50%;
    bottom: 20%;
    transform: translate(50%, 50%);
}


.about-company__info {
    position: absolute;
    top: 100%;
    right: 50%;
    transform: translate(50%, 50%);
    // display: flex;
    max-width: 570px;
    width: 100%;
    padding-top: 41px;
    padding-right: 51px;
    padding-bottom: 35px;
    padding-left: 119px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
    border-radius: 8px;
    background-image: url('../images/Group.svg');
    background-repeat: no-repeat;
    background-size: 55px 55px;
    background-position: top 38.5px left 43px;
    
    // &::before {
    //     width: 55px;
    //     height: 55px;
    //     display: block;
    //     margin-right: 22px;
    //     content: '';
    //     background-image: url('../images/Group.svg');
    //     background-repeat: no-repeat;
    // }
}

.about-company__info__heading {
    display: inline-block;
    max-width: 400px;
    width: 100%;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #2B2A28;
}

.about-company__text {
    max-width: 400px;
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #2B2A28;
}

// About Company List

.about-company__list {
    display: flex;
    margin: 0;
    margin-top: 190px;
    margin-bottom: 38px;
    padding: 0;
    list-style-type: none;
}

.about-company__item {
    max-width: 270px;
    width: 100%;
    
    
    & + & {
        margin-left: 30px;
    }
}

.about-company__list__heading {
    margin-bottom: 29px;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 60px;
    line-height: 30px;
    color: #CB8734;
}

.about-company__list__heading__strorg {
    font-size: 30px;
    line-height: 30px;
    
}

.about-company__list__line {
    display: block;
    max-width: 270px;
    height: 2px;
    width: 100%;
    margin-bottom: 18px;
    background-color: #CB8734;
    border-radius: 8px;
}

.about-company__list__text {
    max-width: 231px;
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #2B2A28;
}

.about-company__link {
    display: block;
    max-width: 280px;
    width: 100%;
    margin: 0 auto;
    padding-top: 26px;
    padding-bottom: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    background-color: #CB8734;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(203, 135, 52, 0.2);
    border-radius: 4px;
}

@media only screen and (max-width: 1215px) {
    .about-company__image {
        width: 100%;
        border-radius: 0px 36px;
    }
}


// @media only screen and (max-width: 1070px) {
    
//     .about-company__info {
//         transform: translate(40%, 50%);
//     }
// }

// @media only screen and (max-width: 1060px) {

    
//     .about-company__info {
//         transform: translate(40%, 50%);
//     }
// }

// @media only screen and (max-width: 1050px) {

//     .about-company__info {
//         transform: translate(40%, 50%);
//     }
// }

// @media only screen and (max-width: 1040px) {
    
//     .about-company__info {
//         transform: translate(40%, 50%);
//     }
// }

// @media only screen and (max-width: 1030px) {
 
//     .about-company__info {
//         transform: translate(35%, 50%);
//     }
// }

// @media only screen and (max-width: 1020px) {
    
//     .about-company__info {
//         transform: translate(35%, 50%);
//     }
// }



@media only screen and (max-width: 936px) {
    .about-company__list__heading {
        font-size: 50px;
    }
}

@media only screen and (max-width: 908px) {
    .about-company__list__text {
        font-size: 15px;
    }
}

// @media only screen and (max-width: 885px) {
   
//     .about-company__info {
//         transform: translate(30%, 50%);
//     }
// }

@media only screen and (max-width: 860px) {
    
    // .about-company__info {
    //     bottom: 55%;
    //     transform: translate(20%, 50%);
    // }
    
    .about-company__list{
        flex-wrap: wrap;
        justify-content: center;
        // margin-top: 80px;
    }
    
    .about-company__item {
        margin-left: 20px;
        
        & + & {
            margin-left: 20px;
        }
    }
}


// @media only screen and (max-width: 810px) {
    
//     .about-company__info {
//         transform: translate(20%, 70%);
//     }
// }

// @media only screen and (max-width: 768px) {
    
//     .about-company__info {
//         transform: translate(15%, 70%);
//     }
// }


// @media only screen and (max-width: 705px) {
    
//     .about-company__info {
//         transform: translate(8%, 70%);
//     }
// }


// @media only screen and (max-width: 675px) {
    
//     .about-company__info {
//         transform: translate(5%, 70%);
//     }
// }

// @media only screen and (max-width: 655px) {
    
//     .about-company__info {
//         transform: translate(0%, 70%);
//     }
    
// }

@media only screen and (max-width: 620px) {
    .about-company {
        background-image: none;
    }

    .about-company .container {
        padding-top: 120px;
        padding-bottom: 100px;
        background-position: top 0;
        background-size: 570px 400px;
    }
    
    .about-company__heading {
        margin: 0 auto;
        width: 300px;
        margin-bottom: 40px;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
    }
    
        // .about-company__info {
        //     width: 616px;
        //     transform: translate(0.48%, 12%);
        // }
        
        .about-company__info {
            background-image: none;
        }
        
        
        
        .about-company__list {
            flex-wrap: wrap;
            
        }

        .about-company__list__heading {
            text-align: center;
        }

        .about-company__list__text {
            margin: 0 auto;
            text-align: center;
        }
        
        .about-company__item  {
            margin-top: 50px;
            
            & + & {
                margin-top: 40px;
            }
        }
        
    }

@media only screen and (max-width: 570px) {
     
    .about-company__text{
        flex-direction: column;
    }

    .about-company__info__heading {
        width: 85%;
        margin: 0 auto;
        margin-bottom: 10px;
        text-align: center;
    }

    .about-company__text {
        margin: 0 auto;
    }

}

    


@media only screen and (max-width: 460px) {

    .about-company__image2 {
        bottom: 30%;
        width: 250px;
        height: 300px;
    }

    .about-company__info {
        width: 91%;
        padding: 29px 0;
    }

    .about-company__info__heading {
        width: 80%;
        margin: 0 40px;
        // margin-left: 10px;
        margin-bottom: 8px;
    }

    .about-company__info__text {
        width: 90%;
        margin: 0 auto;
    }

    .about-company__item {
        margin-left: 0;

        & + & {
            margin-left: 0;
        }
    }
}


@media only screen and (max-width: 415px) {

    .about-company__heading {
        font-size: 24px;
        line-height: 30px;
    }


    .about-company__info {
        width: 95%;
        padding: 29px 22px;
    }

    .about-company__info__heading {
        font-size: 18px;
        line-height: 24px;
    }

    .about-company__info__text {
        font-size: 14px;
        line-height: 24px;
    }

    .about-company__item {
        margin-top: 280px;
    }
}