.about-company {
    background-image: url('../images/scheme-up.png'), url('../images/scheme-down.png');
    background-repeat: no-repeat;
    background-size: 590px 445px;
    background-position: right 0, bottom 0 left 0;
}


.about-company .container {
    position: relative;
    z-index: 10;
    padding-top: 140px;
    padding-bottom: 147px;
    background-image: url('../images/rolik.png');
    background-repeat: no-repeat;
    background-size: 1170px 420px;
    background-position: top 30% center;
}

.about-company__heading {
    font-family: "Arial";
    font-weight: 800;
    font-size: 36px;
    line-height: 48px;
    color: #2B2A28;
}

.about-company__image {
    
    margin-left: 375px;
    margin-bottom: 160px;
    // background-image: url('../images/play-and-tex.png');
    // background-repeat: no-repeat;
    // background-size: 134px 126px;
    // background-position: right 0 center;
}

.about-company__info {
    position: absolute;
    bottom: 47%;
    transform: translate(50%, 50%);
    // display: flex;
    max-width: 570px;
    width: 100%;
    padding-top: 41px;
    padding-right: 51px;
    padding-bottom: 35px;
    padding-left: 119px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
    border-radius: 8px;
    background-image: url('../images/Group.svg');
    background-repeat: no-repeat;
    background-size: 55px 55px;
    background-position: top 38.5px left 43px;
    
    // &::before {
    //     width: 55px;
    //     height: 55px;
    //     display: block;
    //     margin-right: 22px;
    //     content: '';
    //     background-image: url('../images/Group.svg');
    //     background-repeat: no-repeat;
    // }
}

.about-company__info__heading {
    display: inline-block;
    max-width: 400px;
    width: 100%;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #2B2A28;
}

.about-company__text {
    max-width: 400px;
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #2B2A28;
}

// About Company List

.about-company__list {
    display: flex;
    margin: 0;
    margin-bottom: 38px;
    padding: 0;
    list-style-type: none;
}

.about-company__item {
    max-width: 270px;
    width: 100%;
    
    
    & + & {
        margin-left: 30px;
    }
}

.about-company__list__heading {
    margin-bottom: 29px;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 60px;
    line-height: 30px;
    color: #CB8734;
}

.about-company__list__heading__strorg {
    font-size: 30px;
    line-height: 30px;
    
}

.about-company__list__line {
    display: block;
    max-width: 270px;
    height: 2px;
    width: 100%;
    margin-bottom: 18px;
    background-color: #CB8734;
    border-radius: 8px;
}

.about-company__list__text {
    max-width: 231px;
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #2B2A28;
}

.about-company__link {
    display: block;
    max-width: 280px;
    width: 100%;
    margin: 0 auto;
    padding-top: 26px;
    padding-bottom: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    background-color: #CB8734;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(203, 135, 52, 0.2);
    border-radius: 4px;
}

@media only screen and (max-width: 1210px) {
    .about-company .container {
        background-size: 1160px 420px;
    }
}

@media only screen and (max-width: 1195px) {
    .about-company .container {
        background-size: 1150px 420px;
    }
}

@media only screen and (max-width: 1185px) {
    .about-company .container {
        background-size: 1140px 420px;
    }
}

@media only screen and (max-width: 1175px) {
    .about-company .container {
        background-size: 1130px 420px;
    }
}

@media only screen and (max-width: 1165px) {
    .about-company .container {
        background-size: 1120px 420px;
    }
}

@media only screen and (max-width: 1145px) {
    .about-company .container {
        background-size: 1100px 420px;
    }
}

@media only screen and (max-width: 1130px) {
    .about-company .container {
        background-size: 1085px 420px;
    }
}

@media only screen and (max-width: 1120px) {
    .about-company .container {
        background-size: 1075px 420px;
    }
}

@media only screen and (max-width: 1105px) {
    .about-company .container {
        background-size: 1060px 420px;
    }
}

@media only screen and (max-width: 1090px) {
    .about-company .container {
        background-size: 1050px 420px;
    }
}

@media only screen and (max-width: 1080px) {
    .about-company .container {
        background-size: 1040px 420px;
    }
    
    .about-company__image {
        margin-left: 300px;
    }
    
    .about-company__info {
        transform: translate(40%, 50%);
    }
}

@media only screen and (max-width: 1070px) {
    .about-company .container {
        background-size: 1030px 420px;
    }
    
    .about-company__image {
        margin-left: 300px;
    }
    
    .about-company__info {
        transform: translate(40%, 50%);
    }
}

@media only screen and (max-width: 1060px) {
    .about-company .container {
        background-size: 1020px 420px;
    }
    
    .about-company__image {
        margin-left: 300px;
    }
    
    .about-company__info {
        transform: translate(40%, 50%);
    }
}

@media only screen and (max-width: 1050px) {
    .about-company .container {
        background-size: 1010px 420px;
    }
    
    .about-company__image {
        margin-left: 300px;
    }
    
    .about-company__info {
        transform: translate(40%, 50%);
    }
}

@media only screen and (max-width: 1040px) {
    .about-company .container {
        background-size: 1000px 420px;
    }
    
    .about-company__image {
        margin-left: 300px;
    }
    
    .about-company__info {
        transform: translate(40%, 50%);
    }
}

@media only screen and (max-width: 1030px) {
    .about-company .container {
        background-size: 990px 420px;
    }
    
    .about-company__image {
        margin-left: 285px;
    }
    
    .about-company__info {
        transform: translate(35%, 50%);
    }
}

@media only screen and (max-width: 1020px) {
    .about-company .container {
        background-size: 980px 420px;
    }
    
    .about-company__image {
        margin-left: 280px;
    }
    
    .about-company__info {
        transform: translate(35%, 50%);
    }
}

@media only screen and (max-width: 1020px) {
    .about-company .container {
        background-size: 970px 420px;
    }
}

@media only screen and (max-width: 1000px) {
    .about-company .container {
        background-size: 960px 420px;
    }
}

@media only screen and (max-width: 985px) {
    .about-company .container {
        background-size: 950px 420px;
    }
}

@media only screen and (max-width: 985px) {
    .about-company .container {
        background-size: 940px 420px;
    }
}

@media only screen and (max-width: 965px) {
    .about-company .container {
        background-size: 920px 420px;
    }
}

@media only screen and (max-width: 945px) {
    .about-company .container {
        background-size: 900px 420px;
    }
}

@media only screen and (max-width: 936px) {
    .about-company__list__heading {
        font-size: 50px;
    }
}

@media only screen and (max-width: 915px) {
    .about-company .container {
        background-size: 880px 420px;
    }
}

@media only screen and (max-width: 908px) {
    .about-company__list__text {
        font-size: 15px;
    }
}

@media only screen and (max-width: 885px) {
    .about-company .container {
        background-size: 850px 420px;
    }
    
    .about-company__image {
        margin-left: 250px;
    }
    
    .about-company__info {
        transform: translate(30%, 50%);
    }
}

@media only screen and (max-width: 860px) {
    .about-company {
        background-image: none;
    }
    
    .about-company .container {
        background-size: 825px 420px;
    }
    
    .about-company__image {
        margin-left: 200px;
    }
    
    .about-company__info {
        bottom: 55%;
        transform: translate(20%, 50%);
    }
    
    .about-company__list{
        flex-wrap: wrap;
        justify-content: center;
        // margin-top: 80px;
    }
    
    .about-company__item {
        margin-left: 20px;
        
        & + & {
            margin-left: 20px;
        }
    }
}

@media only screen and (max-width: 860px) {
    .about-company .container {
        background-size: 800px 420px;
    }
    
}

@media only screen and (max-width: 810px) {
    .about-company .container {
        background-size: 765px 380px;
    }
    
    .about-company__info {
        transform: translate(20%, 70%);
    }
}

@media only screen and (max-width: 768px) {
    .about-company .container {
        background-size: 735px 380px;
    }
    
    .about-company__image {
        margin-left: 180px;
    }
    
    .about-company__info {
        transform: translate(15%, 70%);
    }
}

@media only screen and (max-width: 745px) {
    .about-company .container {
        background-size: 710px 380px;
    }
}

@media only screen and (max-width: 725px) {
    .about-company .container {
        background-size: 685px 380px;
    }
}

@media only screen and (max-width: 705px) {
    .about-company .container {
        background-size: 670px 380px;
    }
    
    .about-company__image {
        margin-left: 160px;
    }
    
    .about-company__info {
        transform: translate(8%, 70%);
    }
}


@media only screen and (max-width: 675px) {
    .about-company .container {
        background-size: 620px 380px;
    }
    
    .about-company__image {
        margin-left: 140px;
    }
    
    .about-company__info {
        transform: translate(5%, 70%);
    }
}

@media only screen and (max-width: 655px) {
    .about-company .container {
        background-size: 610px 380px;
    }
    
    .about-company__info {
        transform: translate(0%, 70%);
    }
    
}

@media only screen and (max-width: 620px) {
    .about-company .container {
        padding-top: 120px;
        padding-bottom: 100px;
        background-position: top 0;
        background-size: 570px 400px;
    }
    
    .about-company__heading {
        margin: 0 auto;
        width: 300px;
        margin-bottom: 40px;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
    }
    
    .about-company__image {
        width: 350px;
        height: 450px;
        margin-top: 50px;
        margin-left: 120px;
        margin-bottom: 60px;
        }
        
        .about-company__info {
            width: 616px;
            transform: translate(0.48%, 12%);
        }
        
        .about-company__info::before {
            display: none;
        }
        
        
        
        .about-company__list {
            flex-wrap: wrap;
            
        }

        .about-company__list__heading {
            text-align: center;
        }

        .about-company__list__text {
            margin: 0 auto;
            text-align: center;
        }
        
        .about-company__item  {
            margin-top: 50px;
            
            & + & {
                margin-top: 40px;
            }
        }
        
    }

@media only screen and (max-width: 570px) {
    .about-company .container{
        background-size: 450px 400px;
    }

    .about-company__info {
        width: 92%;
        padding-left: 51px;
        background-image: none;
        
        .about-company__text{
            flex-direction: column;
        }

    }

    .about-company__info__heading {
        width: 85%;
        margin: 0 auto;
        margin-bottom: 10px;
        text-align: center;
    }

    .about-company__text {
        margin: 0 auto;
    }

}

@media only screen and (max-width: 535px) {
    .about-company__image {
        margin-left: 70px;
    }

    .about-company .container{
        background-size: 90% 400px;
    }
}

@media only screen and (max-width: 460px) {
    .about-company__image {
        margin-left: 30px;
    }

    .about-company__info {
        width: 91%;
        transform: translate(0%, 12%);
    }

    .about-company__item {
        margin-left: 0;

        & + & {
            margin-left: 0;
        }
    }
}


@media only screen and (max-width: 415px) {
    .about-company .container {
        padding: 60px 10px;
        background-image: url('../images/fon.png');
        background-repeat: no-repeat;
        background-position: bottom 0;
        background-size: 95% 200px;
    }

    .about-company__heading {
        font-size: 24px;
        line-height: 30px;
    }


    .about-company__image {
        width: 200px;
        height: 250px;
        margin-bottom: 0;
        margin-left: 100px;
    }

    .about-company__info {
        width: 95%;
        padding: 29px 22px;
    }

    .about-company__info__heading {
        font-size: 18px;
        line-height: 24px;
    }

    .about-company__info__text {
        font-size: 14px;
        line-height: 24px;
    }

    .about-company__item {
        margin-top: 280px;
    }
}